body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(241, 243, 245);
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
}

.container {
	width: 50%;
	margin: 2rem 0;
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}

.container p {
	text-align: justify;
}

.read_btn {
	text-decoration: none;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.gallery {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	margin-top: 3rem;
}

img {
	width: 200px;
	height: 300px;
	border-radius: 4px;

	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.401);

}

h1 {
	margin-bottom: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
	font-weight: 400;
}

span {
	font-weight: 600;
}

hr {
	width: 100%;
	border: 1px solid rgb(231, 231, 231);
	margin: 3rem 0;
}

button {
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	background-color: rgb(1, 8, 13);
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

button:hover {
	background-color: rgb(51, 67, 83);
	transition: background-color 0.3s;
}


@media (max-width: 768px) {
	.container {
		width: 90%;
	}

	.gallery {
		flex-direction: column;
		gap: 2rem;
	}

	img {
		width: 150px;
		height: 225px;
	}
}